@import "compass/css3"
@import "compass/utilities"

$font-face: "Helvetica Neue", "Helvetica", simhei, "Microsoft yahei", "\u5fae\u8f6f\u96c5\u9ed1", sans-serif

.full
  margin: 0
  padding: 0

ul, 
ol, 
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6
  @extend .full

body
  font-family: $font-face
  color: #FFFFFF

a
  text-decoration: none

ul 
  list-style: none

  &>li
    padding: 0

.hidden
  display: none !important

.fulfill
  @extend .full
  width: 100%
  height: 100%
  display: block

html, 
body,
#one-page-wrapper
  @extend .fulfill

#cover
  color: #FFFFFF

  .logo
    margin: 2%
    float: left

  .header-title
    margin-left: 400px
    margin-top: 5%

  h1, h2, h3
    font-weight: normal
    letter-spacing: 2px

  h1
    font-size: 4em

  h2
    font-size: 2em
    margin-top: .2em
  
  h3
    font-size: 1.2em
    line-height: 1.8em
    margin: 1em 0
    padding-left: 1.6em
    background: url(../images/loc-small.png) no-repeat left center

  i
    display: inline-block
    position: absolute

  .cover-content
    width: 85%
    margin: 24px auto 0 auto

  .cover-body
    height: 400px
    margin-bottom: 80px
    margin-right: 202px
    background: url(../images/maple-background.png) no-repeat

  .cover-sidebar
    float: right

  .cover-links,
  .cover-video
    width: 200px
    height: 200px

  .cover-links
    background-color: #ED6571

    li
      width: 99px
      height: 100px
      float: left
      display: inline-block
      position: relative
      border-bottom: 2px solid #BF252F

    li:nth-child(2n-1)
      border-right: 2px solid #BF252F

    a
      display: inline-block
      padding: 14px
      margin-left: 12px
      line-height: 1.4
      color: #FFFFFF
      font-size: 24px

    .location
      width: 83px
      height: 87px
      background: url(../images/loc-big.png) no-repeat
      top: 22px
      left: 26px

    .prize
      width: 96px
      height: 92px
      background: url(../images/prize.png) no-repeat
      top: 8px
      left: 20px

    a:hover
      text-decoration: none

  .cover-video
    background-color: #FEB70F
    position: relative

    .video-play
      width: 91px
      height: 95px
      top: 66px
      left: 66px
      background: url(../images/video-play.png) no-repeat

#scene
  padding-bottom: 80px

  .slides-type
    height: 200px
    width: 800px
    margin: 15px auto
    position: relative
    background: url(../images/map-line.png) no-repeat left bottom

  .slides-set
    width: 70px
    height: 70px
    position: absolute

  .slides-set:nth-child(1)
    left: 20px
    top: 32px

  .slides-set:nth-child(2)
    left: 166px
    top: 16px

  .slides-set:nth-child(3)
    left: 330px
    top: 80px

  .slides-set:nth-child(4)
    left: 540px
    top: 45px

  .slides-set:nth-child(5)
    left: 745px
    top: 32px

  .carousel
    width: 780px
    margin: 0 auto

#hotel
  padding-bottom: 80px

  .subtitle
    width: 400px

    h2
      width: 85px

  .trip
    width: 800px
    margin: 20px auto

    border-spacing: 3px
    border-collapse: separate

    td
      width: 180px
      padding: 5px
      background-color: #FFFFFF
      color: #333333

      p
        margin: 8px 0
        padding: 0 .4em

      .from
        font-size: smaller

      .link
        margin-top: 15px
        color: #48C9CE

.separation-title
  width: 800px
  margin: 40px auto

  .separation-header
    float: left
    font-size: 32px
    margin-left: 34px

  .separation-begin,
  .separation-end
    width: 300px
    height: 2px
    background: #FFFFFF
    position: relative
    top: 22px

  .separation-begin
    float: left

  .separation-end
    float: right

.scene-header
  padding-top: 20px
  position: relative

  .subtitle
    margin-left: 20px
    margin-bottom: 20px
    padding: 10px 20px
    border: 4px solid #FFFFFF
    width: 485px

  h1, h2
    display: inline-block

  h1
    font-size: 4em
    margin-left: .2em

  h2
    width: 130px
    text-align: right
    font-size: 1.6em

.scene-header:after
  content: ''
  position: absolute
  width: 0
  height: 0
  border: 15px solid transparent
  border-bottom-color: #FFFFFF
  top: 94px
  left: 26px
  +transform(rotate(45deg), false)


.scene-description,
.slides-type
  font-size: 1.2em
  letter-spacing: 1px

.scene-description
  padding: 40px 60px
  text-indent: 2em

.site-footer
  ul 
    width: 800px
    margin: 40px auto

    li
      float: left

  .partner > li
    margin 0 36px

  .social > li
    margin: 0 70px

#one-page-wrapper
  section:nth-child(1) 
    +background-image(linear-gradient(to right, #BF1C5D, #BF2527))

  section:nth-child(2) 
    +background-image(linear-gradient(to right, #2098CA, #2E57CD))

  section:nth-child(3) 
    +background-image(linear-gradient(to right, #48C9CE, #3292A0))