/* line 5, ../sass/maple-app.sass */
.full, ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6, .fulfill, html,
body,
#view, #cards {
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/maple-app.sass */
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.825em;
}

/* line 24, ../sass/maple-app.sass */
a {
  text-decoration: none;
}

/* line 27, ../sass/maple-app.sass */
.hidden {
  display: none !important;
}

/* line 30, ../sass/maple-app.sass */
.fulfill, html,
body,
#view, #cards {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 36, ../sass/maple-app.sass */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

/* line 46, ../sass/maple-app.sass */
.button {
  color: red;
  padding: 0.4em 2em;
  border-radius: 2px;
  background-color: white;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  line-height: normal;
  border-width: 0;
  cursor: pointer;
  zoom: 1;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* line 67, ../sass/maple-app.sass */
#cards {
  overflow: hidden;
}

/* line 73, ../sass/maple-app.sass */
.cover > div,
.map > div {
  width: 100%;
  height: 100%;
}

/* line 77, ../sass/maple-app.sass */
.cards-logo {
  position: absolute;
  background: url(../images/logo-site-bg.png);
  background-repeat: no-repeat;
  background-size: 64px 20px;
  width: 64px;
  height: 20px;
  margin: 20px auto;
  left: 40%;
}

/* line 87, ../sass/maple-app.sass */
.scratch-logo {
  -webkit-transition: -webkit-transform 1.5s linear;
  -moz-transition: -moz-transform 1.5s linear;
  -o-transition: -o-transform 1.5s linear;
  transition: transform 1.5s linear;
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 50%;
}

/* line 94, ../sass/maple-app.sass */
.card,
.scene-view,
.map-view {
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* line 101, ../sass/maple-app.sass */
.game-result {
  position: absolute;
  bottom: -260px;
  height: 260px;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.5);
  -webkit-transition: bottom 600ms ease;
}

/* line 113, ../sass/maple-app.sass */
.game-result-show {
  bottom: 0px;
}
/* line 116, ../sass/maple-app.sass */
.game-result-show > div {
  margin-top: 20px;
  text-align: center;
}
/* line 121, ../sass/maple-app.sass */
.game-result-show .result-area span:first-child {
  font-size: 1.8em;
  color: white;
}
/* line 125, ../sass/maple-app.sass */
.game-result-show .button {
  font-size: 1.6em;
}
/* line 128, ../sass/maple-app.sass */
.game-result-show .button-image {
  display: block;
  width: 220px;
  height: 40px;
  text-indent: -9999em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 220px 40px;
}
/* line 137, ../sass/maple-app.sass */
.game-result-show .share-area,
.game-result-show .retry-area {
  text-align: center;
}
/* line 141, ../sass/maple-app.sass */
.game-result-show .share-area > a {
  background-image: url(../images/share-web-440.png);
}
/* line 144, ../sass/maple-app.sass */
.game-result-show .retry-area > a {
  background-image: url(../images/retry-web-440.png);
}
/* line 147, ../sass/maple-app.sass */
.game-result-show .up-arrow {
  display: inline-block;
  width: 33px;
  height: 18px;
  margin: 20px 12px;
  background-image: url(../images/up-arrow.png);
  background-size: 33px 18px;
  background-position: center center;
}

/* line 156, ../sass/maple-app.sass */
.weixin-result {
  height: 100%;
  padding-top: 50%;
  background: rgba(0, 0, 0, 0.67) url(../images/weixin-guide.png) no-repeat 92% 10%;
  background-size: 70px 70px;
}
/* line 163, ../sass/maple-app.sass */
.weixin-result .result-area span:fist-child {
  color: #f14f4a;
}
/* line 166, ../sass/maple-app.sass */
.weixin-result .arrow-area {
  position: relative;
  bottom: -44%;
}
/* line 171, ../sass/maple-app.sass */
.weixin-result .weixin-guide span {
  color: #50ddee;
}

/* line 174, ../sass/maple-app.sass */
.realtime-percentage {
  background-color: transparent;
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}
/* line 183, ../sass/maple-app.sass */
.realtime-percentage > div,
.realtime-percentage p {
  text-align: center;
}
/* line 187, ../sass/maple-app.sass */
.realtime-percentage > div > span {
  font-size: 1.125em;
}

/* line 191, ../sass/maple-app.sass */
.map .map-scene {
  position: absolute;
  background: grey;
  display: block;
  height: 47px;
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* line 200, ../sass/maple-app.sass */
.map .map-scene:nth-child(1) {
  left: 72%;
  top: 26%;
  width: 73px;
  background-image: url(../images/map-scene-1.png);
  -webkit-background-size: 73px 47px;
  -moz-background-size: 73px 47px;
  -o-background-size: 73px 47px;
  background-size: 73px 47px;
}
/* line 207, ../sass/maple-app.sass */
.map .map-scene:nth-child(2) {
  left: 60%;
  top: 42%;
  width: 78px;
  background-image: url(../images/map-scene-2.png);
  -webkit-background-size: 78px 47px;
  -moz-background-size: 78px 47px;
  -o-background-size: 78px 47px;
  background-size: 78px 47px;
}
/* line 214, ../sass/maple-app.sass */
.map .map-scene:nth-child(3) {
  left: 12%;
  top: 58%;
  width: 84px;
  background-image: url(../images/map-scene-3.png);
  -webkit-background-size: 84px 47px;
  -moz-background-size: 84px 47px;
  -o-background-size: 84px 47px;
  background-size: 84px 47px;
}
/* line 221, ../sass/maple-app.sass */
.map .map-scene:nth-child(4) {
  left: 23%;
  top: 74%;
  width: 71px;
  background-image: url(../images/map-scene-4.png);
  -webkit-background-size: 71px 47px;
  -moz-background-size: 71px 47px;
  -o-background-size: 71px 47px;
  background-size: 71px 47px;
}
/* line 228, ../sass/maple-app.sass */
.map .map-scene:nth-child(5) {
  left: 45%;
  top: 82%;
  width: 84px;
  background-image: url(../images/map-scene-5.png);
  -webkit-background-size: 83px 47px;
  -moz-background-size: 83px 47px;
  -o-background-size: 83px 47px;
  background-size: 83px 47px;
}

/* line 235, ../sass/maple-app.sass */
.scene {
  color: white;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 240, ../sass/maple-app.sass */
.scene .scene-header {
  position: absolute;
  top: 80px;
  left: 20px;
  padding: 0.8em;
  border: 4px solid white;
}
/* line 247, ../sass/maple-app.sass */
.scene .scene-intros {
  position: absolute;
  left: 20px;
  width: 50%;
  padding: 0 10px 10px 10px;
  background: rgba(0, 0, 0, 0.33);
}
/* line 256, ../sass/maple-app.sass */
.scene .scene-block h3 {
  font-size: 1em;
  margin-top: 10px;
  color: #66c8cb;
}
/* line 261, ../sass/maple-app.sass */
.scene .scene-block p {
  font-size: 0.825em;
  margin-top: 2px;
}

/* line 265, ../sass/maple-app.sass */
#audio-player,
#global-up-arrow {
  position: absolute;
}

/* line 269, ../sass/maple-app.sass */
#audio-player {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  z-index: 11;
  right: 20px;
  top: 20px;
}

/* line 278, ../sass/maple-app.sass */
.playing {
  background-image: url(../images/music-icon.png);
  -webkit-animation: playing 1.5s linear 0 infinite normal;
}

/* line 284, ../sass/maple-app.sass */
.pause {
  background-image: url(../images/music-icon-hl.png);
}

@-webkit-keyframes playing {
  /* line 288, ../sass/maple-app.sass */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 291, ../sass/maple-app.sass */
  100% {
    -webkit-transform: rotate(360deg);
  }
}
