/* line 4, ../sass/maple-app.sass */
.full, ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6, .fulfill, html,
body,
#one-page-wrapper, #cover {
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/maple-app.sass */
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.825em;
}

/* line 23, ../sass/maple-app.sass */
a {
  text-decoration: none;
}

/* line 26, ../sass/maple-app.sass */
.hidden {
  display: none !important;
}

/* line 29, ../sass/maple-app.sass */
.fulfill, html,
body,
#one-page-wrapper, #cover {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 35, ../sass/maple-app.sass */
.button {
  color: red;
  padding: 0.4em 2em;
  border-radius: 2px;
  background-color: white;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  line-height: normal;
  border-width: 0;
  cursor: pointer;
  zoom: 1;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* line 51, ../sass/maple-app.sass */
.up-arrow {
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-bottom: 12px;
  background-image: url(//placehold.it/80x50);
  background-size: 40px 25px;
  background-position: center center;
}

/* line 65, ../sass/maple-app.sass */
#cover {
  overflow: hidden;
}

/* line 69, ../sass/maple-app.sass */
.game-result {
  position: absolute;
  bottom: -165px;
  height: 165px;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  padding: 0 20px;
  background-color: rgba(255, 0, 0, 0.33);
  -webkit-transition: bottom 600ms ease;
}

/* line 81, ../sass/maple-app.sass */
.game-result-show {
  bottom: 0px;
}
/* line 84, ../sass/maple-app.sass */
.game-result-show > div {
  margin-top: 15px;
  text-align: center;
}
/* line 89, ../sass/maple-app.sass */
.game-result-show > div:first-child span:first-child {
  font-size: 1.8em;
}
/* line 92, ../sass/maple-app.sass */
.game-result-show .button {
  font-size: 1.6em;
}

/* line 95, ../sass/maple-app.sass */
.realtime-percentage {
  background-color: transparent;
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}
/* line 104, ../sass/maple-app.sass */
.realtime-percentage > div,
.realtime-percentage p {
  text-align: center;
}
/* line 108, ../sass/maple-app.sass */
.realtime-percentage > div > span {
  font-size: 1.125em;
}

/* line 111, ../sass/maple-app.sass */
.map-scene {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 116, ../sass/maple-app.sass */
#map-1 {
  background-image: url(http://placehold.it/1000x1000/ff6600);
}

/* line 119, ../sass/maple-app.sass */
#map-2 {
  background-image: url(http://placehold.it/1000x1000/0066ff);
}

/* line 122, ../sass/maple-app.sass */
#map-3 {
  background-image: url(http://placehold.it/1000x1000/00ff66);
}

/* line 125, ../sass/maple-app.sass */
#map-4 {
  background-image: url(http://placehold.it/1000x1000/66ff00);
}
