/* line 5, ../sass/maple-app.sass */
.full, ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6, .fulfill, html,
body,
#view, #cards {
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/maple-app.sass */
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.825em;
}

/* line 24, ../sass/maple-app.sass */
a {
  text-decoration: none;
}

/* line 27, ../sass/maple-app.sass */
.hidden {
  display: none !important;
}

/* line 30, ../sass/maple-app.sass */
.fulfill, html,
body,
#view, #cards {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 36, ../sass/maple-app.sass */
.button {
  color: red;
  padding: 0.4em 2em;
  border-radius: 2px;
  background-color: white;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  line-height: normal;
  border-width: 0;
  cursor: pointer;
  zoom: 1;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* line 52, ../sass/maple-app.sass */
.up-arrow {
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-bottom: 12px;
  background-image: url(//placehold.it/80x50);
  background-size: 40px 25px;
  background-position: center center;
}

/* line 66, ../sass/maple-app.sass */
#cards {
  overflow: hidden;
}

/* line 70, ../sass/maple-app.sass */
.card {
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 75, ../sass/maple-app.sass */
.card:nth-child(2) {
  background-image: url(//placehold.it/1000x1000/ff0066);
}

/* line 78, ../sass/maple-app.sass */
.card:nth-child(3) {
  background-image: url(//placehold.it/1000x1000/6600ff);
}

/* line 81, ../sass/maple-app.sass */
.card:nth-child(4) {
  background-image: url(//placehold.it/1000x1000/66ff00);
}

/* line 84, ../sass/maple-app.sass */
.card:nth-child(5) {
  background-image: url(//placehold.it/1000x1000/0066ff);
}

/* line 87, ../sass/maple-app.sass */
.card:nth-child(6) {
  background-image: url(//placehold.it/1000x1000/00ff66);
}

/* line 90, ../sass/maple-app.sass */
.game-result {
  position: absolute;
  bottom: -165px;
  height: 165px;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  padding: 0 20px;
  background-color: rgba(255, 0, 0, 0.33);
  -webkit-transition: bottom 600ms ease;
}

/* line 102, ../sass/maple-app.sass */
.game-result-show {
  bottom: 0px;
}
/* line 105, ../sass/maple-app.sass */
.game-result-show > div {
  margin-top: 15px;
  text-align: center;
}
/* line 110, ../sass/maple-app.sass */
.game-result-show > div:first-child span:first-child {
  font-size: 1.8em;
}
/* line 113, ../sass/maple-app.sass */
.game-result-show .button {
  font-size: 1.6em;
}

/* line 116, ../sass/maple-app.sass */
.realtime-percentage {
  background-color: transparent;
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}
/* line 125, ../sass/maple-app.sass */
.realtime-percentage > div,
.realtime-percentage p {
  text-align: center;
}
/* line 129, ../sass/maple-app.sass */
.realtime-percentage > div > span {
  font-size: 1.125em;
}

/* line 132, ../sass/maple-app.sass */
.map {
  background: url(//placehold.it/1000x1000/00ffff) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 137, ../sass/maple-app.sass */
.scene {
  color: white;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 142, ../sass/maple-app.sass */
.scene .scene-header {
  position: absolute;
  top: 80px;
  left: 20px;
  padding: 0.8em;
  border: 4px solid white;
}
/* line 149, ../sass/maple-app.sass */
.scene .scene-intros {
  position: absolute;
  left: 20px;
  width: 50%;
  padding: 0 10px 10px 10px;
  background: rgba(0, 0, 0, 0.33);
}
/* line 158, ../sass/maple-app.sass */
.scene .scene-block h3 {
  font-size: 1em;
  margin-top: 10px;
  color: #66c8cb;
}
/* line 163, ../sass/maple-app.sass */
.scene .scene-block p {
  font-size: 0.825em;
  margin-top: 2px;
}
