/* line 7, ../sass/maple-web.sass */
.full, ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6, .fulfill {
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/maple-web.sass */
body {
  font-family: "Helvetica Neue", "Helvetica", simhei, "Microsoft yahei", "\u5fae\u8f6f\u96c5\u9ed1", sans-serif;
  color: white;
}

/* line 37, ../sass/maple-web.sass */
a {
  text-decoration: none;
}

/* line 40, ../sass/maple-web.sass */
ul {
  list-style: none;
}
/* line 43, ../sass/maple-web.sass */
ul > li {
  padding: 0;
}

/* line 46, ../sass/maple-web.sass */
.hidden {
  display: none !important;
}

/* line 49, ../sass/maple-web.sass */
.fulfill {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 55, ../sass/maple-web.sass */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 58, ../sass/maple-web.sass */
body {
  width: 980px;
  margin: 0 auto;
  background-image: url(../images/main-background.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
}

/* line 66, ../sass/maple-web.sass */
#full-mask {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
  position: fixed;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.67);
}
/* line 74, ../sass/maple-web.sass */
#full-mask .focus-container {
  width: 640px;
  height: 400px;
  margin: 40px auto;
  position: relative;
}
/* line 80, ../sass/maple-web.sass */
#full-mask .close-layer {
  position: absolute;
  display: block;
  right: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  background: url(../images/close.png) no-repeat;
  opacity: 0.67;
  z-index: 1;
}
/* line 91, ../sass/maple-web.sass */
#full-mask .scene-layer,
#full-mask .prize-layer {
  background-color: #ec6570;
  margin: 60px 0;
}
/* line 96, ../sass/maple-web.sass */
#full-mask .scene-layer .scene-title,
#full-mask .prize-layer .scene-title {
  font-size: 2em;
  width: 2em;
  line-height: 1.2;
}
/* line 101, ../sass/maple-web.sass */
#full-mask .scene-layer .scene-content,
#full-mask .prize-layer .scene-content {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 25px 0;
}

/* line 106, ../sass/maple-web.sass */
#cover {
  color: white;
}
/* line 109, ../sass/maple-web.sass */
#cover .logo {
  margin: 2%;
  float: left;
}
/* line 113, ../sass/maple-web.sass */
#cover .logo > img {
  margin-left: 10px;
}
/* line 116, ../sass/maple-web.sass */
#cover .header-title {
  margin-left: 400px;
  margin-top: 5%;
}
/* line 120, ../sass/maple-web.sass */
#cover h1, #cover h2, #cover h3 {
  font-weight: normal;
  letter-spacing: 2px;
}
/* line 124, ../sass/maple-web.sass */
#cover h1 {
  font-size: 4em;
}
/* line 127, ../sass/maple-web.sass */
#cover h2 {
  font-size: 1.8em;
  margin-top: 0.2em;
}
/* line 131, ../sass/maple-web.sass */
#cover h3 {
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 1em 0;
  padding-left: 1.6em;
  background: url(../images/loc-small.png) no-repeat left center;
}
/* line 138, ../sass/maple-web.sass */
#cover i {
  display: inline-block;
  position: absolute;
}
/* line 142, ../sass/maple-web.sass */
#cover .cover-content {
  width: 85%;
  position: relative;
  margin: 24px auto 0 auto;
}
/* line 147, ../sass/maple-web.sass */
#cover .cover-body,
#cover .video-layer {
  height: 400px;
  margin-bottom: 80px;
  margin-right: 202px;
}
/* line 153, ../sass/maple-web.sass */
#cover .cover-body {
  overflow: hidden;
}
/* line 156, ../sass/maple-web.sass */
#cover .cover-body .logo-small {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  font-size: 0.875em;
  background: url(../images/logo-site.png) no-repeat;
  width: 127px;
  height: 60px;
  padding-top: 42px;
  -webkit-user-select: none;
}
/* line 168, ../sass/maple-web.sass */
#cover .video-layer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 100%;
}
/* line 175, ../sass/maple-web.sass */
#cover .cover-sidebar {
  float: right;
}
/* line 178, ../sass/maple-web.sass */
#cover .cover-links,
#cover .cover-video {
  width: 200px;
  height: 200px;
}
/* line 183, ../sass/maple-web.sass */
#cover .cover-links,
#cover .cover-video {
  background-color: #ed6571;
}
/* line 187, ../sass/maple-web.sass */
#cover .cover-links li,
#cover .cover-video li {
  width: 99px;
  height: 100px;
  float: left;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #bf252f;
  background-repeat: no-repeat;
}
/* line 196, ../sass/maple-web.sass */
#cover .cover-links li:nth-child(2n-1),
#cover .cover-video li:nth-child(2n-1) {
  border-right: 2px solid #bf252f;
}
/* line 199, ../sass/maple-web.sass */
#cover .cover-links a,
#cover .cover-video a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
}
/* line 205, ../sass/maple-web.sass */
#cover .cover-links a:hover,
#cover .cover-video a:hover {
  text-decoration: none;
}
/* line 208, ../sass/maple-web.sass */
#cover .cover-links .scene,
#cover .cover-video .scene {
  background: url(../images/scene-link.png);
}
/* line 210, ../sass/maple-web.sass */
#cover .cover-links .scene:hover,
#cover .cover-video .scene:hover {
  background: url(../images/scene-link-hover.png);
}
/* line 213, ../sass/maple-web.sass */
#cover .cover-links .trip,
#cover .cover-video .trip {
  background: url(../images/trip-link.png);
}
/* line 215, ../sass/maple-web.sass */
#cover .cover-links .trip:hover,
#cover .cover-video .trip:hover {
  background: url(../images/trip-link-hover.png);
}
/* line 218, ../sass/maple-web.sass */
#cover .cover-links .location,
#cover .cover-video .location {
  background: url(../images/location-link.png);
}
/* line 220, ../sass/maple-web.sass */
#cover .cover-links .location:hover,
#cover .cover-video .location:hover {
  background: url(../images/location-hover.png);
}
/* line 223, ../sass/maple-web.sass */
#cover .cover-links .prize,
#cover .cover-video .prize {
  background: url(../images/prize-link.png);
}
/* line 225, ../sass/maple-web.sass */
#cover .cover-links .prize:hover,
#cover .cover-video .prize:hover {
  background: url(../images/prize-hover.png);
}
/* line 228, ../sass/maple-web.sass */
#cover .cover-video {
  width: 200px;
  height: 200px;
}
/* line 232, ../sass/maple-web.sass */
#cover .cover-video .video {
  background: url(../images/video-link.png);
}
/* line 235, ../sass/maple-web.sass */
#cover .cover-video .video:hover {
  background: url(../images/video-hover.png);
}
/* line 238, ../sass/maple-web.sass */
#cover .user-guide {
  position: absolute;
  z-index: 2;
  left: 45%;
  top: 36%;
  text-align: center;
}
/* line 245, ../sass/maple-web.sass */
#cover .user-guide > img {
  -webkit-transition: -webkit-transform 1.5s linear;
  -moz-transition: -moz-transform 1.5s linear;
  -o-transition: -o-transform 1.5s linear;
  transition: transform 1.5s linear;
  pointer-events: none;
  z-index: -1;
}
/* line 250, ../sass/maple-web.sass */
#cover .user-guide p {
  margin-top: 20px;
  font-size: 1.5em;
}
/* line 254, ../sass/maple-web.sass */
#cover .game-result {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.33);
  position: absolute;
  z-index: 2;
}
/* line 261, ../sass/maple-web.sass */
#cover .game-result p {
  text-align: center;
  margin-bottom: 20px;
}
/* line 265, ../sass/maple-web.sass */
#cover .game-result .result {
  padding: 50px 0;
  font-size: 1.2em;
}
/* line 269, ../sass/maple-web.sass */
#cover .game-result .seconds > span {
  font-size: 2.5em;
}
/* line 274, ../sass/maple-web.sass */
#cover .game-result .share a,
#cover .game-result .retry a {
  display: block;
  width: 300px;
  height: 54px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/* line 281, ../sass/maple-web.sass */
#cover .game-result .share > a {
  background-image: url(../images/share-web.png);
}
/* line 284, ../sass/maple-web.sass */
#cover .game-result .retry > a {
  background-image: url(../images/retry-web.png);
}
/* line 287, ../sass/maple-web.sass */
#cover .retry-button {
  position: relative;
  background: url("../images/retry-button.png") no-repeat;
  width: 114px;
  height: 54px;
  z-index: 1;
  left: 28px;
  top: 320px;
  cursor: pointer;
}

/* line 297, ../sass/maple-web.sass */
#scene {
  padding-bottom: 80px;
}
/* line 300, ../sass/maple-web.sass */
#scene .slides-type {
  height: 200px;
  width: 800px;
  margin: 27px auto;
  position: relative;
  background: url(../images/map-line-combine.png) no-repeat 0 -200px;
}
/* line 307, ../sass/maple-web.sass */
#scene .slides-set {
  width: 140px;
  height: 70px;
  position: absolute;
  cursor: pointer;
}
/* line 326, ../sass/maple-web.sass */
#scene .slides-set > img {
  margin-top: 2px;
}
/* line 329, ../sass/maple-web.sass */
#scene .slides-set:nth-child(1) {
  left: 14px;
  top: 4px;
}
/* line 333, ../sass/maple-web.sass */
#scene .slides-set:nth-child(2) {
  left: 175px;
  top: -2px;
}
/* line 337, ../sass/maple-web.sass */
#scene .slides-set:nth-child(3) {
  left: 354px;
  top: 66px;
}
/* line 341, ../sass/maple-web.sass */
#scene .slides-set:nth-child(4) {
  left: 526px;
  top: 28px;
}
/* line 345, ../sass/maple-web.sass */
#scene .slides-set:nth-child(5) {
  left: 712px;
  top: 4px;
}
/* line 349, ../sass/maple-web.sass */
#scene .carousel {
  width: 780px;
  margin: 0 auto;
}
/* line 353, ../sass/maple-web.sass */
#scene .carousel-indicators {
  bottom: 8px;
}
/* line 356, ../sass/maple-web.sass */
#scene .carousel-control {
  background-image: none;
}
/* line 359, ../sass/maple-web.sass */
#scene .carousel-control.right {
  right: -100px;
}
/* line 362, ../sass/maple-web.sass */
#scene .carousel-control.left {
  left: -100px;
}
/* line 365, ../sass/maple-web.sass */
#scene .carousel-info {
  border: 4px solid white;
}
/* line 368, ../sass/maple-web.sass */
#scene .carousel-info h3 {
  margin: 12px 0 10px 0;
}
/* line 371, ../sass/maple-web.sass */
#scene .carousel-info .carousel-info-title {
  float: left;
  padding: 0 25px;
}
/* line 375, ../sass/maple-web.sass */
#scene .carousel-info .carousel-info-link {
  width: 90px;
  border-left: 4px solid white;
  font-size: 20px;
  line-height: 86px;
  float: right;
  color: white;
}
/* line 383, ../sass/maple-web.sass */
#scene .carousel-info .carousel-info-link:hover {
  text-decoration: none;
}
/* line 386, ../sass/maple-web.sass */
#scene .carousel-info .external-link {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 391, ../sass/maple-web.sass */
#hotel {
  padding-bottom: 80px;
}
/* line 394, ../sass/maple-web.sass */
#hotel .subtitle {
  width: 400px;
}
/* line 397, ../sass/maple-web.sass */
#hotel .subtitle h2 {
  width: 85px;
}
/* line 400, ../sass/maple-web.sass */
#hotel .trip {
  width: 800px;
  margin: 20px auto;
  margin-bottom: 0;
  border-spacing: 3px;
  border-collapse: separate;
}
/* line 408, ../sass/maple-web.sass */
#hotel .trip td {
  width: 180px;
  padding: 5px;
  background-color: white;
  color: #333333;
  vertical-align: top;
}
/* line 415, ../sass/maple-web.sass */
#hotel .trip td p {
  margin: 8px 0;
  padding: 0 0.4em;
}
/* line 419, ../sass/maple-web.sass */
#hotel .trip td .from {
  font-size: smaller;
}
/* line 422, ../sass/maple-web.sass */
#hotel .trip td .link {
  margin-top: 15px;
  color: #48c9ce;
}

/* line 426, ../sass/maple-web.sass */
.separation-title {
  width: 800px;
  margin: 40px auto;
}
/* line 430, ../sass/maple-web.sass */
.separation-title .separation-header {
  float: left;
  font-size: 32px;
  margin-left: 34px;
}
/* line 435, ../sass/maple-web.sass */
.separation-title .separation-begin,
.separation-title .separation-end {
  width: 300px;
  height: 2px;
  background: white;
  position: relative;
  top: 22px;
}
/* line 443, ../sass/maple-web.sass */
.separation-title .separation-begin {
  float: left;
}
/* line 446, ../sass/maple-web.sass */
.separation-title .separation-end {
  float: right;
}

/* line 449, ../sass/maple-web.sass */
.scene-header {
  padding-top: 40px;
  padding-left: 30px;
  position: relative;
}
/* line 454, ../sass/maple-web.sass */
.scene-header .subtitle {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 8px solid white;
  width: 485px;
}
/* line 461, ../sass/maple-web.sass */
.scene-header h1, .scene-header h2 {
  display: inline-block;
}
/* line 464, ../sass/maple-web.sass */
.scene-header h1 {
  font-size: 4em;
  margin-left: 0.2em;
}
/* line 468, ../sass/maple-web.sass */
.scene-header h2 {
  width: 130px;
  text-align: right;
  font-size: 1.6em;
}

/* line 473, ../sass/maple-web.sass */
.scene-header:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: white;
  top: 122px;
  left: 56px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 485, ../sass/maple-web.sass */
.scene-description,
.slides-type {
  font-size: 1.2em;
  letter-spacing: 1px;
}

/* line 490, ../sass/maple-web.sass */
.scene-description {
  padding-top: 40px;
  text-indent: 2em;
  width: 780px;
  margin: 0 auto;
}

/* line 496, ../sass/maple-web.sass */
.site-footer {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  width: 800px;
  margin: 0 auto;
}
/* line 503, ../sass/maple-web.sass */
.site-footer li {
  float: left;
}
/* line 506, ../sass/maple-web.sass */
.site-footer .partner {
  width: 590px;
  margin: 40px auto;
}
/* line 510, ../sass/maple-web.sass */
.site-footer .partner > li {
  margin: 0 10px;
}
/* line 513, ../sass/maple-web.sass */
.site-footer .social > li {
  margin: 0 32px;
  text-align: center;
}
/* line 517, ../sass/maple-web.sass */
.site-footer .social > li a {
  color: white;
}
/* line 520, ../sass/maple-web.sass */
.site-footer .social > li a:hover {
  text-decoration: none;
}
/* line 523, ../sass/maple-web.sass */
.site-footer .social > li .title {
  margin: 10px 0;
  font-size: 1.3em;
}
/* line 527, ../sass/maple-web.sass */
.site-footer .social > li .title + div {
  height: 26px;
  line-height: 26px;
}
/* line 533, ../sass/maple-web.sass */
.site-footer .social > li .weixin {
  background: url(../images/weixin.png) no-repeat 50px;
  padding-left: 30px;
}
/* line 538, ../sass/maple-web.sass */
.site-footer .social > li .youku a {
  padding: 0.35em 1em;
  background-color: #01afb8;
}

/* line 543, ../sass/maple-web.sass */
#one-page-wrapper section:nth-child(1) {
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #bf1c5d), color-stop(100%, #bf2527));
  background-image: -webkit-linear-gradient(to right, #bf1c5d, #bf2527);
  background-image: -moz-linear-gradient(to right, #bf1c5d, #bf2527);
  background-image: -o-linear-gradient(to right, #bf1c5d, #bf2527);
  background-image: linear-gradient(to right, #bf1c5d, #bf2527);
}
/* line 546, ../sass/maple-web.sass */
#one-page-wrapper section:nth-child(2) {
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #2098ca), color-stop(100%, #2e57cd));
  background-image: -webkit-linear-gradient(to right, #2098ca, #2e57cd);
  background-image: -moz-linear-gradient(to right, #2098ca, #2e57cd);
  background-image: -o-linear-gradient(to right, #2098ca, #2e57cd);
  background-image: linear-gradient(to right, #2098ca, #2e57cd);
}
/* line 549, ../sass/maple-web.sass */
#one-page-wrapper section:nth-child(3) {
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #48c9ce), color-stop(100%, #3292a0));
  background-image: -webkit-linear-gradient(to right, #48c9ce, #3292a0);
  background-image: -moz-linear-gradient(to right, #48c9ce, #3292a0);
  background-image: -o-linear-gradient(to right, #48c9ce, #3292a0);
  background-image: linear-gradient(to right, #48c9ce, #3292a0);
}
